@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="row">
        <div class="product-info col-md-4">
            <h2>$10.99</h2>
            <h3>Chicken Salad</h3>
            <p>
                This example is a quick exercise to illustrate how the default, static and fixed to top navbar work.
            </p>
            <button type="button" class="btn btn-primary center-block">Order Now</button>
        </div>
        <div class="col-md-8">
            <img src="http://placehold.it/150x150?text=1" class="center-block img-circle img-responsive" alt="Responsive image">

            <div style="padding: 0px 150px 0px 150px;">
                <button type="button" class="btn btn-primary pull-left">Left</button>
                <button type="button" class="btn btn-primary pull-right">Right</button>
            </div>
        </div>
    </div>

</div>