@*@Html.ActionLink("Cart (" + ViewData["CartCount"] + ")",
"Index",
"ShoppingCart",
new { id = "cart-status" }, new { @class = "navbar-brand" })*@
@*<a href='@Url.Action("Index", "ShoppingCart")'>Cart <span id="cart-status" class="badge">@ViewData["CartCount"]</span></a>*@
<a href='@Url.Action("Index", "ShoppingCart")'><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> </span><span id="cart-status" class="badge">@ViewData["CartCount"]</span></a>
